body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#container {
    width: 1120px;
    margin: 20px auto;
}

#cytoweb_container {
    clear: both;
    height: 600px;
    background: #111;
    box-shadow: 10px 0 20px #555;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

form label.big {
    font-size: 17px;
    font-weight: bold;
}

#search_button {
    margin-top: 10px;
}

a.action_link {
    font-size: 18px;
    font-weight: bolder;
    color: #000;
    display: block;
    float: left;
    margin-left: 10px;
    text-decoration: underline;

}

#save_svg {
    background: url("../img/save_svg.png");
    width: 74px;
    height: 25px;
    float: right;
    display: none;
}

#save_png {
    background: url("../img/save_png.png");
    width: 74px;
    height: 25px;
    float: right;
    display: none;
}

#powertag_dialog_area .dialog_key {
    font-size: 18px;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

#powertag_dialog_area .dialog_value {
    font-size: 16px;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

.ui-dialog {
    font-size: 15px;
}

.ui-dialog label {
    display: inline;
}

.ui-dialog .ui-dialog-title {
    font-size: 20px;
    font-weight: bolder;
}



